.container {
  margin-top: 93px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.title {
  display: inline-block;
  width: 78%;
}

.clearBtn{
  display: inline-block;
  width: 11%;
}

.updateBtn{
  display: inline-block;
  width: 11%;
}
