<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<ng-template #content let-modal>
  <div class="card">

    <div class="card-header">
      <h3>Регистрация</h3>
      <div class="d-flex justify-content-end social_icon">
        <span><i class="fab fa-facebook-square"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
        <span><i class="fab fa-twitter-square"></i></span>
      </div>
    </div>

    <div class="card-body">
      <form >
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Логин" [(ngModel)]="user.username" name="username">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input required type="password" class="form-control" placeholder="Пароль" [(ngModel)]="user.password" name="password">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input required type="password" class="form-control" placeholder="Повторите пароль">
        </div>
        <div class="form-group">
          <input type="submit" value="Регистрация" class="btn float-right login_btn" (click)="register()">
        </div>
      </form>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Уже есть аккаунт?<a href="#"><app-login [isButton]="false" (authChange)="close($event) "></app-login></a>
      </div>
    </div>

  </div>
</ng-template>

<a (click)="open(content)">Зарегистрироваться</a>
